[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/Mogball/llvm-project
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/Mogball/pybind11
[submodule "lua/rx-cpp"]
	path = lua/rx-cpp
	url = https://github.com/stevedonovan/rx-cpp
[submodule "oec/open-earth-compiler"]
	path = oec/open-earth-compiler
	url = https://github.com/spcl/open-earth-compiler.git
