[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/Mogball/llvm-project
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "grammars-v4"]
	path = grammars-v4
	url = https://github.com/antlr/grammars-v4
